/* Fond rétro avec une image de fond kitsch */
body {
    background-image: url('gifs/images (4).png');
    background-repeat: repeat;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    color: #FF69B4; 
    text-align: center;
    height: 100vh; 
    margin: 0; /* Suppression des marges par défaut */
}

/* Titre principal */
.header h1 {
    color: #FFD700;
    text-shadow: 2px 2px 0px #FF0000; 
    border: 3px solid #00FFFF; 
    background-image: url('gifs/images (6).png'); 
    padding: 20px;
    margin: 0;
}

/* Conteneur du header */
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

/* GIFs du header */
.gifchat, .gifcolombe {
    width: 150px; 
    height: auto;
}

/* Contenu principal */
.main-content {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centre le contenu */
}

/* Texte défilant */
.scrolling-content {
    color: #FF69B4; 
    white-space: nowrap; 
    animation: scroll 20s linear infinite; 
    display: inline-block; 
    font-size: 24px;
    position: absolute; /* Positionne le texte défilant au-dessus */
    top: 0; /* Place le texte en haut */
    left: 0; /* Aligne à gauche */
    right: 0; /* Aligne à droite */
}

/* Animation pour le défilement */
@keyframes scroll {
    0% {
        transform: translateX(250%); /* Commence à droite */
    }
    100% {
        transform: translateX(-250%); /* Finit à gauche */
    }
}

/* Conteneur des GIFs */
.gif-container {
    display: flex;
    justify-content: center; 
    align-items: center; 
    margin-top: 50px; /* Ajoute un espacement entre le texte et les GIFs */
}

/* GIF latéraux */
.side-gif-left, .side-gif-right {
    width: 150px; 
    height: auto;
}

/* GIF central */
.center-gif img {
    width: 200%;
    height: auto; 
}

/* Footer */
.footer {
    padding: 10px;
    color: black;
    font-size: 12px;
    text-align: center;
    position: absolute; 
    bottom: 0; 
    left: 0; 
    right: 0; 
}
